.app{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(224, 227, 227);
}
.app__body{
    display: flex;
    margin-top: -50px;
    height: 90vh;
    width: 90vh;
    box-shadow: 0 0 20px 0 black;
    
}
@media screen and (max-width:786px) {
    .app__body{
        width:90vw;
    }
}