.sidebar{
    display: flex;
    flex-direction: column;
    flex: .35;
    background-image: url("https://content.instructables.com/ORIG/FTT/ESPJ/HZN0SPK5/FTTESPJHZN0SPK5.jpg?auto=webp&frame=1&fit=bounds&md=67ad71214a48ecff1df7767294ae74a4");
    

}
.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgrey;
    backdrop-filter: blur(1px);
    box-shadow: 0 1px 2px 0 rgb(81, 13, 217);
    
}
.sidebar__headerRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
    color:white !important;
}

.sidebar__headerRight > .MuiSvgIcon-root{
    font-size: 24px !important;    
    
    margin-right: 2vw;

}
.sidebar__headerRight > .MuiIconButton-root{
    color: rgb(60, 60, 60);
    background-color: rgba(128, 128, 128, 0.625);
}
.sidebar__search{
    display:flex;
    align-items: center;
    
    height: 39px;
    padding: 10px;

}
.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}
.sidebar__searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;

}
.sidebar__searchContainer > input {
    border: none;
    outline-width: 0;
    margin-left: 10px;
}
.sidebar__chats{
    flex: 1;
    
    overflow: scroll;
    

}
::-webkit-scrollbar{
    display: none;
}