.sidebarChat{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #1739b2;
    cursor: pointer;
    transition: none;
    transition: 100ms;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: rgba(245, 245, 245, 0.486);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    
}
.sidebarChat:hover{
    background-color: rgba(160, 161, 173, 0.694);
    backdrop-filter: blur(2px);
    color: honeydew;
    transition: none;
}
.sidebarChat:active{
    
    background-color: rgba(0, 101, 243, 0.465);
    
}
.sidebarChat__info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}
.sidebarChat__info{
    margin-left: 15px;
}
