.app{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(224, 227, 227);
}
.app__body{
    display: flex;
    margin-top: -50px;
    height: 90vh;
    width: 90vh;
    box-shadow: 0 0 20px 0 black;
}
