.sidebar{
    display: flex;
    flex-direction: column;
    flex: .35;

}
.sidebar__header{
    display: flex;
    justify-content: space-between;

    background-color: black;
    color: whitesmoke;
}